numpy
tqdm
pandas
jupyter
pympler
numba
ipyparallel
jupyter_server==1.24.0
asyncio
tensorflow
pytesseract
opencv-python
matplotlib
matplotlib-inline
line_profiler
youtube-dl
pymongo
reprint
line_profiler
ffmpeg-quality-metrics
nbconvert
pyppeteer
torch
torchvision
torchaudio
videohash
ImageHash
xmltodict
tabulate
dicttoxml
graph-notebook
graphviz
networkx
pydot
imageio
#scikit-learn
#seaborn
#pyvis
#platform
#hashlib
#jycm
pipreqs
python-dotenv
ollama
langdetect
mistletoe
playwright
html2text
pdf2image